@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
} 

.page-logo {
  display: flex;
  margin-right: 450px;
}
.navgation-list {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  background-image: url("../image/titul.jpg");
  background-size: 100% 18%;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin-top: 52px;
  margin-bottom: 83px;
  margin-left: 372px;
  margin-right: 372px;
}

.heading {
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  margin-top: 63px;
  margin-bottom: 20px;
  background-image: url("../image/Vector.svg");
  background-position: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.heading-description {
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 79px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 400px;
  text-align: center;
 }
 .advantages-item {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 400px;
  text-align: center;
 }

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-transform: lowercase;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 79px;
}

.index-square {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 400px;
}

.image-1 {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 384px;
  margin-left: 400px;
}

.index-square2 {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.index-square3 {
  color: #000000;
  background-color: #FFFFFF;
}

.index-square4 {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.index-square5 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 400px;
  height: 384px;
}

.image-2 {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 384px;
  margin-right: 400px;
}

.index-square6 {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.index-square7 {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.index-square8 {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-list-block-1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-list-block-2 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.newsletter {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000; 
  background-image: url("../image/footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 84px;
}

.page-footer {
  width: 1200px;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 55px;
  margin-right: 1021px;
}

.footer-html {
  width: 115px;
  margin-left: auto;
}

.footer-contact {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  width: 720px;
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-social-item a {
  color: #83B3D3;
}

.htmlacademy-link {
  color: #000000;
}

.inner-block {
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: none;
  background-image: url("../image/catalog-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.search-title {
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: none;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
}

.product-card {
  background-color: #ffffff;
}

.product-card-title {
  font-weight: 700;
  color: #000000;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23,29px;
  color: #333333;
  text-transform: lowercase;
}

.newsletter-catalog {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF; 
}

.inner-block {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.inner-header {
  text-align: center;
}